@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(44, 44%, 88%);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
